# Ignoruj środowisko wirtualne
.venv/
venv/
ENV/

# Ignoruj pliki tymczasowe Pythona
__pycache__/
*.py[cod]

# Ignoruj pliki budowania PyInstallera
build/
dist/
*.spec

# Ignoruj ustawienia IDE
.idea/
.vscode/

# Ignoruj lokalne pliki systemowe (jeśli jakieś stworzyłeś)
*.pkg.tar.zst
src/pkg/
src/src/
