[Desktop Entry]
Name=ArchRat
Comment=Wybierz i zainstaluj skrypty poinstalacyjne dla archa
Exec=archrat
Icon=computer-symbolic
Terminal=false
Type=Application
Categories=System;Settings;
