[Desktop Entry]
Name=Rat Center
Comment=Wybierz i zainstaluj skrypty poinstalacyjne dla archa
Exec=rat-center
Icon=computer-symbolic
Terminal=false
Type=Application
Categories=System;Settings;
