[Desktop Entry]
Name=RatPresets
Comment=Zmień wygląd systemu
Exec=linexin-desktop-presets
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=Settings;GTK;
