[Desktop Entry]
Name=RatPresets
Comment=Zmień wygląd systemu (KDE Plasma)
Exec=arch-presets
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=Settings;GTK;
