#!/usr/bin/env xdg-open
[Desktop Entry]
Name=RatInstall
Comment=Zainstaluj potrzebne pakiety do systemu
Exec=arch-setup
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=Settings;GTK;
